* {
  font-family: "Roboto", sans-serif;
}

:root {
  --Primaire-color: #9356dc;
  --Secondaire-color: #ff79da;
  --Tertiaire-color: #99e2d0;
  --box-shaddow-color: #0000001a;
  --Footer-bg-color: #363636;
  --white-color: white;
  --text-color: black;
  --Section-bg-color: #f6f6f6;
  --location-bg-color: #eaeaea;
  --h2-borderColor: #99e2d0;
  --searchBar-shaddow-color: #cdcdcd;
  --flaoting-text-color: #198766;
}

#landingPage {
  width: 100dvw;
  margin: auto;
  padding: 0;
  .loader-container {
    position: absolute;
  z-index: 1;
     width: 100dvw;
     height: 100dvh;
     display: flex;
     justify-content: center;
     align-items: center;
     background:linear-gradient(var(--Primaire-color),var(--Secondaire-color));
     animation:scale-out-center 2s cubic-bezier(.55,.085,.68,.53)both;
    .loader {
      border: 16px solid #f3f3f3;
      border-top: 16px solid var(--Primaire-color);
      border-radius: 50%;
      width: 150px;
      height: 150px;
      animation: 2s spin linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

 @keyframes scale-out-center {
 0% {
 // transform: scale(1);
 opacity: 1;
          
 }
 100% {
   // transform: scale(0);
          
   opacity: 0;
   z-index: -1;
 }
 }
  }

  /***** header *****/

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
    img {
      height: 40px;
    }
  }
  /***** Main container *****/

  .container {
    padding: 0;

    /***** reserve section *****/
    .Reserve {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      padding-bottom: 5rem;
      &_Location {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
        background-color: var(--location-bg-color);
       &:hover{
        transition: all 300ms;

        box-shadow: 10px 10px 10px var(--box-shaddow-color);
       }
        img {
          height: 18px;
        }
        input {
          height: 6dvh;
          background-color: var(--location-bg-color);
          border: none;
        }
      }
      /**** reservation ****/
      &_reservation {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          width: 60%;
          margin-bottom: 0;
          font-weight: 500;
        }
        p {
          font-size: 20px;
          font-weight: 100;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: var(--white-color);
          font-weight: 400;
          height: 6dvh;
          width: 55%;
          border-radius: 50px;
          background-image: linear-gradient(
            var(--Secondaire-color),
            var(--Primaire-color)
          );

          &:hover {
           
            transition: all 300ms;
            filter: brightness(110%);
            box-shadow: 16px 16px 20px var(--box-shaddow-color);
          }
        }
      }
    }
    /***** fonctionement *****/
    .Fonctionnement {
      padding: 1rem;

      &_title {
        font-weight: 475;
      }
      &_btnContainer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        color: var(--text-color);
        border-radius: 25px;
        &_btn {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-size-adjust: auto;
          flex-wrap: wrap;
          gap: 2rem;
          color: var(--text-color);
          width: clamp(200px, 80%, 300px);
          padding: 0 3rem 0 0.5rem;
          text-decoration: none;
          border-radius: 25px;
          background-color: var(--Section-bg-color);
          margin: 1rem auto;
          box-shadow: 16px 16px 20px var(--box-shaddow-color);
          &:hover {
            transition: all 300ms;
            filter: brightness(97%);
         
          }

          #topBtn {
            margin-left: 1rem;
          }
          p {
            font-size: 14px;
          }
        }
        img {
          height: 20px;
        }

        div {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: -0.5rem;
          height: 25px;
          width: 25px;
          color: var(--white-color);
          border-radius: 50%;
          background-color: var(--Primaire-color);
        }
      }
    }
    .Restaurants {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 1rem;
      gap: 1rem;
      background-color: var(--Section-bg-color);
      &_cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .cardContainer {
          display: flex;
          flex-direction: column;
          width: 80%;
          margin: 0 auto;
          text-decoration: none;
          &_card {
            display: flex;
            flex-direction: column;
            background-color: var(--white-color);
            border-radius: 20px;
            position: relative;
          
         &:hover{
          transition: all 300ms;
          box-shadow: 16px 16px 20px var(--box-shaddow-color);
         }
            .nouveau {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100px;
              height: 30px;
              background-color: var(--Tertiaire-color);
              margin: 1rem;
              right: 2rem;
              color: var(--flaoting-text-color);
            }
            .foodPic {
              width: 100%;
              height: 25dvh;
              object-fit: cover;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
            }
            .card-content {
              align-items: start;
              .card-txt {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                padding: 0.5rem 1rem;
                color: var(--text-color);

                &-heart {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  width: 25px;
                  height: 25px;
                  top: 0.5rem;
                  margin-right: 2rem;
                  &:hover{
                   // background-color: red;
                    .card-txt-heart-regular{
                      opacity: 0;
                      transition: all 1s;
                    }
                  
                  }
                  &-regular {
                    opacity: 1;
                    position: absolute;
                    z-index: 1;
                    display: flex;
                    width: 25px;
                    height: 25px;
                    background-color: var(--white-color);
                    transition: all 1s;
                    
                  }
                  &-solid{
                    position: absolute;
                    z-index: 0;
                    display: flex;
                    width: 25px;
                    height: 25px;
               
                  }
                }

                &-text {
                  display: flex;
                  flex-direction: column !important;
                  .card-title {
                    font-size: large;
                    margin: 0;
                    padding: 0;
                  }
                  p {
                    font-weight: 300;
                    margin: 0;
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /***** footer ****/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--Footer-bg-color);
    padding: 2rem;
    gap: 1rem;
    #footerLogo {
      filter: invert(10);
      height: 20px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      #withMargin {
        img {
          height: 10px;
        }
      }
      a {
        font-size: small;
        text-decoration: none;
        color: var(--white-color);
        img {
          margin: 0 0.5rem 0 0;
          height: 13px;
          border-radius:15%;
        }
      }
      a:hover{
        color: var(--Primaire-color);
      }
    }
  }
}

#resto {
  margin: 0;
  padding: 0;
  //width: 100%;

  /***** header *****/

  /*** La palettte du gout ****/
  .header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1rem 2rem;
    height: 5dvh;

    div {
      display: flex;
    }
    .arrow {
      position: absolute;
      left: 1rem;
      top: 33%;
      height: 20px;
    }
  }

  /**** menu content ***/
  .container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    &_hero {
      height: 45dvh;
      img {
        width: 100%;
        height: 50dvh;
      }
    }

    &_menu {
      padding: 0.5rem;
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      background-color: var(--Section-bg-color);
   
      &_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 2rem;
        padding: 0 0.4rem;
        h1 {
          font-weight: 800;
          font-size: 28px;
          font-style: italic;
        }
        .menu-heart{
         
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 25px;
            height: 25px;
          
            margin-right: 1rem;
            &:hover{
            
              .menu-heart-regular{
                opacity: 0;
                transition: all 1s;
              }
            
            }
            &-regular {
              opacity: 1;
              position: absolute;
              z-index: 1;
              display: flex;
              width: 25px;
              height: 25px;
              background-color: var(--Section-bg-color);
              transition: all 1s;
              
            }
            &-solid{
              position: absolute;
              z-index: 0;
              display: flex;
              width: 25px;
              height: 25px;
         
            }
         
        }
      }
      &_cards {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 2rem;
        animation:  ripple-loader 3s ease-in ;
       


        @keyframes ripple-loader {
          0% {
         
            opacity: 0; /* Set initial opacity */
          }
          100% { 
           
            opacity: 1; 
          }
        }
      
        h2 {
          display: inline-block;
          position: relative;
          font-weight: 200;
        }
        /*** underline color and size ****/
        h2::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -0.5rem;
          width: 60px;
          height: 3px;
          background-color: var(--h2-borderColor);
        }
        .card-txt {
          display: flex;
          background-color: var(--white-color);
          border-radius: 15px;
          &:hover{
            transition: all 300ms;
            box-shadow: 16px 16px 20px var(--box-shaddow-color);
           }

          & > div {
            transition: all 250ms;
            transition-timing-function: ease-in;
            width: 100%;
            padding: 0.25rem 1rem;
            h3 {
              font-size: 18px;
              font-weight: 500;
              margin: 0;
            }

            .card-content {
              display: flex;
              justify-content: space-between;
              padding: 0.5rem 0;

              p {
                font-size: 15px;
                font-weight: 300;
                margin: 0;
              }
            }
          }
          .card-animation {
            width: 0px;
            background-color: var(--Tertiaire-color);
            border-radius: 0 15px 15px 0;
            padding: 0;
            transition: all 250ms;
            transition-timing-function: ease-in;
            position: relative;
            span {
              display: none;
            }
          }
          &:hover {
            & > div {
              width: 90%;
            }
            .card-animation {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 10%;
              span {
                display: block;
                position: absolute;
                .checkmark {
                  height: 30px;
                  width: 30px;
                }
              }
            }
          }
        }
      }
      .card1{
        animation-delay: 0s;
      }
      .card2{
        animation-delay: 400ms;
      }
      .card3{
        animation-delay: 800ms;
      }
    }
    /*** order_btn ****/
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--white-color);
        font-weight: 400;
        height: 6dvh;
        width: 45%;
        border-radius: 50px;
        background-image: linear-gradient(
          var(--Secondaire-color),
          var(--Primaire-color)
        );
        box-shadow: 8px 8px 10px var(--box-shaddow-color);
        transition: all 300ms;

        &:hover {
          //font-size: 50px;
          filter: brightness(110%);
          box-shadow: 16px 16px 20px var(--box-shaddow-color);
        }
      }
    }
  }
  /***** footer ****/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--Footer-bg-color);
    padding: 2rem;
    gap: 1rem;
    #footerLogo {
      filter: invert(10);
      height: 15px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      #withMargin {
        img {
          height: 10px;
        }
      }
      a {
        font-size: small;
        text-decoration: none;
        color: var(--white-color);
        img {
          margin: 0 0.5rem 0 0;
          height: 12px;
        }
      }
      a:hover{
        color: var(--Primaire-color);
      }
    }
  }
}

/**** media queries desktop ****/

@media only screen and (min-width: 768px) {
  body {
    .container {
      .container_hero {
        img {
          object-fit: cover;
        }
      }
      .container_menu {
        margin: 0 12%;
        &_cards {
          width: 70%;
          margin: auto;
        }
      }
      .Reserve {
        height: 35dvh;
        h1 {
          width: 100%;
          font-size: 40px;
        }
        background-color: var(--Section-bg-color);
        p {
          font-size: large;
        }
      }
      .Fonctionnement {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .Fonctionnement_title {
          margin-left: 3rem;
        }
        height: 25dvh;
        &_btnContainer {
          width: clamp(750px, 100%, 1440px);
          text-align: center;
          flex-direction: row !important;
          align-self: center;
          gap: 1rem;
          color: var(--text-color);
          border-radius: 25px;
          &_btn {
            padding: 0 0% 0 0.5rem !important;
          }
        }
      }
      .Restaurants {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 5rem;
        background-color: var(--Section-bg-color);
        h2 {
          margin-left: 3rem;
        }
        &_cardContainer {
          width: 90%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin-bottom: 5rem;
        }
        div {
          width: 90%;
          display: flex !important;
          flex-direction: row !important;
          .cardContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            text-decoration: none;
            &_card {
              display: flex;
              flex-direction: column;
              background-color: var(--white-color);
              border-radius: 20px;
              .card-content {
                display: flex;
                align-items: start;
                width: 100%;
                .card-txt {
                  padding: 1rem;
                  display: flex;
                  align-items: start;
                  flex-direction: column;
                  color: var(--text-color);
                  &-heart {
                    justify-content: end !important;
                    align-items: center;
                    height: 60px;
                  }
                  &-text {
                    gap: 0.5rem !important;
                  }
                  .card-title {
                    margin: 0;
                    padding: 0;
                  }
                  p {
                    padding: 0;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
   
    footer {
      display: flex;
      flex-direction: row-reverse !important;
      justify-content: flex-start !important;
      padding-right: 5rem !important;
      gap: 5rem !important;
      #footerLogo {
        height: 25px;
      }
      ul {
        display: flex;
        gap: 1rem;
        #withMargin {
          margin-right: 2rem;
        }
        a {
          font-size: 16px;
        }
      }
    }
  }
}
