/***** General *****/
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --Primaire-color: #9356dc;
  --Secondaire-color: #9356dc;
  --Tertiaire-color: #99e2d0;
  --box-shaddow-color: #0000001a;
  --Footer-bg-color: #363636;
  --white-color: white;
  --text-color: black;
  --Section-bg-color: #f6f6f6;
  --location-bg-color: #eaeaea;
  --h2-borderColor: #99e2d0;
  --searchBar-shaddow-color:#cdcdcd;
}

#landingPage {
  margin: auto;
  padding: 0;
  /***** header *****/
  /***** Main container *****/
  /***** footer ****/
}
#landingPage header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10dvh;
}
#landingPage header img {
  height: 40px;
}
#landingPage .container {
  padding: 0;
  /***** reserve section *****/
  /***** fonctionement *****/
}
#landingPage .container .Reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40dvh;
  text-align: center;
  /**** reservation ****/
}
#landingPage .container .Reserve_Location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  background-color: var(--location-bg-color);
  box-shadow: 2px 1px 3px 3px var(--searchBar-shaddow-color);
}
#landingPage .container .Reserve_Location img {
  height: 18px;
}
#landingPage .container .Reserve_Location input {
  height: 6dvh;
  background-color: var(--location-bg-color);
  border: none;
}
#landingPage .container .Reserve_reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#landingPage .container .Reserve_reservation h1 {
  width: 60%;
  margin-bottom: 0;
  font-weight: 500;
}
#landingPage .container .Reserve_reservation p {
  font-size: 20px;
  font-weight: 100;
}
#landingPage .container .Reserve_reservation #btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white-color);
  font-weight: 400;
  height: 6dvh;
  width: 55%;
  border-radius: 50px;
  background-image: linear-gradient(var(--Secondaire-color), var(--Primaire-color));
}
#landingPage .container .Fonctionnement {
  display: flex;
  height: 50dvh;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
#landingPage .container .Fonctionnement_title {
  font-weight: 475;
}
#landingPage .container .Fonctionnement_btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--text-color);
  width: 100%;
  border-radius: 25px;
}
#landingPage .container .Fonctionnement_btnContainer_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
          text-size-adjust: auto;
  flex-wrap: wrap;
  gap: 2rem;
  color: var(--text-color);
  width: 80%;
  padding: 0 3rem 0 0.5rem;
  text-decoration: none;
  border-radius: 25px;
  background-color: var(--Section-bg-color);
}
#landingPage .container .Fonctionnement_btnContainer_btn #topBtn {
  margin-left: 1rem;
}
#landingPage .container .Fonctionnement_btnContainer_btn p {
  font-size: 14px;
}
#landingPage .container .Fonctionnement_btnContainer img {
  height: 20px;
}
#landingPage .container .Fonctionnement_btnContainer div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -0.5rem;
  height: 25px;
  width: 25px;
  color: var(--white-color);
  border-radius: 50%;
  background-color: var(--Primaire-color);
}
#landingPage .container .Restaurants {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--Section-bg-color);
}
#landingPage .container .Restaurants_cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
#landingPage .container .Restaurants div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
#landingPage .container .Restaurants div .cardContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-decoration: none;
}
#landingPage .container .Restaurants div .cardContainer #bigPic {
  height: 30dvh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#landingPage .container .Restaurants div .cardContainer_card {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 20px;
}
#landingPage .container .Restaurants div .cardContainer_card img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#landingPage .container .Restaurants div .cardContainer_card .card-content {
  align-items: start;
}
#landingPage .container .Restaurants div .cardContainer_card .card-content .card-txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 0.5rem;
  color: var(--text-color);
}
#landingPage .container .Restaurants div .cardContainer_card .card-content .card-txt .heart {
  height: 20px;
}
#landingPage .container .Restaurants div .cardContainer_card .card-content .card-txt .heartSolid {
  height: 20px;
}
#landingPage .container .Restaurants div .cardContainer_card .card-content .card-txt .card-title {
  margin: 0;
  padding: 0;
}
#landingPage .container .Restaurants div .cardContainer_card .card-content .card-txt p {
  display: flex;
  align-self: flex-start;
  font-weight: 300;
  margin-top: 0;
}
#landingPage footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--Footer-bg-color);
  padding: 2rem;
  gap: 1rem;
}
#landingPage footer #footerLogo {
  filter: invert(10);
  height: 20px;
}
#landingPage footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#landingPage footer ul #withMargin img {
  height: 10px;
}
#landingPage footer ul a {
  font-size: small;
  text-decoration: none;
  color: var(--white-color);
}
#landingPage footer ul a img {
  margin: 0 0.5rem 0 0;
  height: 12px;
}

#resto {
  margin: auto;
  padding: 0;
  /***** header *****/
  /*** La palettte du gout ****/
  /**** menu content ***/
  /***** footer ****/
}
#resto .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0;
  padding: 1rem 2rem;
  height: 5dvh;
}
#resto .header img {
  height: 40px;
}
#resto .header .arrow {
  height: 20px;
}
#resto .container {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /*** order_btn ****/
}
#resto .container_hero {
  height: 30dvh;
}
#resto .container_hero img {
  width: 100%;
  height: 40dvh;
}
#resto .container .icon {
  height: 30px;
}
#resto .container_menu {
  padding: 0.5rem;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: var(--Section-bg-color);
}
#resto .container_menu_title {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4rem;
}
#resto .container_menu_title h1 {
  font-weight: 800;
  font-size: 28px;
  font-style: italic;
}
#resto .container_menu_cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  /*** underline color and size ****/
}
#resto .container_menu_cards h2 {
  display: inline-block;
  position: relative;
  font-weight: 200;
}
#resto .container_menu_cards h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 3px;
  background-color: var(--h2-borderColor);
}
#resto .container_menu_cards .card-txt {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  padding: 0.25rem 1rem;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px var(--box-shaddow-color);
}
#resto .container_menu_cards .card-txt h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
#resto .container_menu_cards .card-txt div {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
#resto .container_menu_cards .card-txt div p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}
#resto .container_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
#resto .container_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white-color);
  font-weight: 400;
  height: 6dvh;
  width: 40%;
  border-radius: 50px;
  background-image: linear-gradient(var(--Secondaire-color), var(--Primaire-color));
}
#resto footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: baseline;
  align-items: flex-start;
  background-color: var(--Footer-bg-color);
  padding: 2rem;
  gap: 1rem;
}
#resto footer #footerLogo {
  filter: invert(10);
  height: 15px;
}
#resto footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#resto footer ul #withMargin img {
  height: 10px;
}
#resto footer ul a {
  font-size: small;
  text-decoration: none;
  color: var(--white-color);
}
#resto footer ul a img {
  margin: 0 0.5rem 0 0;
  height: 12px;
}

/**** media queries desktop ****/
@media only screen and (min-width: 768px) {
  body .container .Reserve {
    height: 35dvh;
    background-color: var(--Section-bg-color);
  }
  body .container .Reserve h1 {
    width: 100%;
    font-size: 40px;
  }
  body .container .Reserve p {
    font-size: large;
  }
  body .container .Reserve #btn {
    width: 200px;
  }
  body .container .Fonctionnement {
    height: 25dvh;
  }
  body .container .Fonctionnement .Fonctionnement_title {
    margin-left: 10rem;
  }
  body .container .Fonctionnement_btnContainer {
    max-width: 80%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1rem;
    color: var(--text-color);
    border-radius: 25px;
  }
  body .container .Restaurants {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10rem;
    background-color: var(--Section-bg-color);
  }
  body .container .Restaurants_cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }
  body .container .Restaurants div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body .container .Restaurants div .cardContainer {
    display: flex;
    width: 80%;
    text-decoration: none;
    margin: 0 3rem 0.5rem 0;
  }
  body .container .Restaurants div .cardContainer_card {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 20px;
  }
  body .container .Restaurants div .cardContainer_card .card-content {
    display: flex;
    align-items: start;
  }
  body .container .Restaurants div .cardContainer_card .card-content .card-txt {
    padding: 1rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    color: var(--text-color);
  }
  body .container .Restaurants div .cardContainer_card .card-content .card-txt .card-title {
    margin: 0;
    padding: 0;
  }
  body .container .Restaurants div .cardContainer_card .card-content .card-txt p {
    padding: 0;
    margin: 0;
  }
  body footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 2rem;
    padding-right: 5rem;
  }
  body footer #footerLogo {
    height: 25px;
  }
  body footer ul {
    display: flex;
    gap: 2.5rem;
  }
  body footer ul #withMargin {
    margin-right: 2rem;
  }
  body footer ul a {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */